* {
    font-family: 'Changa', sans-serif;
}

body {
    background-image: linear-gradient(to right, #00A19D , #D4ECDD);
}

input
{
border-radius: 5px;
text-align: left;
background-color: #D4ECDD;
color: black;
width: 17rem;
height: 4rem;
font-size: 30px;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 97vh;
    outline: none;
}

.div-1 {
    text-align: center;
    background-color: #152D35;
    width: 17.6rem;
    border-radius: 10px;
}

#equal-button {
    width: 100%;
}

.buttons {
 margin: 1px;
border-radius: 10px;
background-color: #345B63;
color: white;
border-color: black;
width: 65px;
height: 70px;
font-size: large;
}

.buttons:hover {
    background-color: #00A19D;
    cursor: pointer;
}